@import "compass";
@import "compass/reset";

// Here we import our partials

@import "_partials/variables";
@import "_partials/buttons";
@import "_partials/backgrounds";
@import "_partials/topcorner";
@import "_partials/animations";
@import "_partials/typography";
@import "_partials/print";
@import "_partials/mediaqueries";

// Base
body {
	overflow-x: hidden;
	background: #FFf;
  	-webkit-font-smoothing: antialiased;
}
body a {
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:hover {
	text-decoration: none;
}
li {
	vertical-align: bottom;
}

// PADDING BASE
.nopadding {
	padding-left: $nopadding !important;
	padding-right: $nopadding !important;
}
.noleftpadding {
	padding-left: $nopadding !important;
}
@media screen and (max-width: 1000px) {
    .noleftpadding {
        padding-left: 15px !important;
    }
}

.littlepadding {
	padding: $littlepadding;
}
.smallpadding {
	padding: $smallpadding;
}
.bottompadding {
	padding-bottom: 20px;
}
.rightpadding {
	padding-right: 15px;
}
.extrapadding {
	padding-right: 30px !important;
	padding-left: 30px !important;
}

// MARGIN
.margintop {
	margin-top: 3px;
}
.marginbottom {
	margin-bottom: 8px;
}
// TEXT-ALIGN
.align-left {
	text-align: left !important;
}

// BORDER STYLING
.bottomborder {
	border-bottom: 1px solid $border-color;
}
.leftborder {
	border-left: 1px solid $border-color;
}

a:focus {
	text-decoration: none !important;
}

// Justification
.justify {
	text-align: justify !important;
}

/* Bottom navbar fixed and centered */
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-center {
    text-align: center;
}

/* Heart image */
.navbar-nav img {
  max-height: 15px;
  margin-top: 3px;
}

/* App background */
.app-background {
    background: url(images/city.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.purplestart {
	background-color: $purple-color;
}
.grey-background {
	background: url(images/grey.jpg) no-repeat center center fixed !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.question {
	padding-top: 15px;
	padding-bottom: 15px;
}
.pngimage {
	max-height: 48px;
}