<br>

<br>

<div class="container">
  <div class="row text-center">
      <div class="col-md-12">
      <h3 class="white">
        Du skal starte et aktieselskab!
      </h3>

      <br>

      <div class="col-md-4 col-md-offset-4 whitebackground">
          
          <br>

          <h3 class="black">
              A/S
          </h3>

          <br>

          <img class="topright" src="images/right-quote-sign-yellow.svg">
          <img class="topleft" src="images/right-quote-sign-yellow.svg">

      </div>
      <div class="col-md-4 col-md-offset-4 lightgreenbackground">
          
          <br>

          <h3 class="marginbottom">
            Information
          </h3>

          <p class="justify">Et aktieselskab har begrænset hæftelse og kræver minimum en selskabskapital på 500.000 kr. Det er derfor den mest kapitaltunge selskabsform i Danmark og er forbeholdt større virksomheder. Mange af de større selskaber i Danmark er aktieselskaber. Af de mere kendte kan Lego, Maersk og Novo Nordisk nævnes.</p>
          
          <br>

          <p class="justify">Et aktieselskab oprettes yderst sjældent som det første selskab. Det bliver som regel oprettet ved at omdanne et anpartsselskab til et aktieselskab. Det giver derfor også i langt de fleste tilfælde bedre mening at starte en anden selskabstype.</p>

          <br>
          
             <ul class="list-inline">
               <li><a href="http://www.facebook.com/sharer/sharer.php?u=http://kristofferandreasen.github.io/virksomhed/"><img src="images/facebook-logo.svg"></li></a>
               <li><a href="http://www.twitter.com/share?url=http://kristofferandreasen.github.io/virksomhed/"><img src="images/twitter-logo-button.svg"></li></a>
               <li><a class="custombutton3" href="#/ivsinfo">Lær mere om A/S</li></a>
            </ul>
          
          <br>
            
          <a href="#/view1">
           <ul class="list-inline">
               <li><p>Start forfra</p></li>
               <li><img class="roll" src="images/recovery-arrow.svg"></li>
            </ul>
          </a>

          <br>

         </div>
          
          
          

          <br>

      </div>

      </div>
  </div>
</div>

<br>
<br>
<br>

<a href="#view1">
  <div class="topleftcorner hidden-xs">
    <ul class="list-inline">
      <li>
        <img class="roll" src="images/left-arrow.svg">
      </li>
      <li>
        <p>Tilbage til start</p>
      </li>
    </ul>
  </div>
  </a>