<br>

<div class="container">
  <div class="row text-center">
      <div class="col-md-12">
          <ul class="list-inline">
            <li><a href="http://www.facebook.com/sharer/sharer.php?u=http://kristofferandreasen.github.io/virksomhed/"><img src="images/facebook-logo.svg"></li></a>
            <li><a href="http://www.twitter.com/share?url=http://kristofferandreasen.github.io/virksomhed/"><img src="images/twitter-logo-button.svg"></li></a>
          </ul>
      </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row text-center">
      <div class="col-md-12">
      <h1 class="white smallheadline">
        Er du villig til at hæfte personligt?
      </h1>

      <br>

    <div class="row text-center">
         
    <a href="#/enkeltmand">
         <div class="col-md-6 question">
			     <div class="redbackground hoverborder">
				
              <br>
              <br>

				        <img class="pngimage" src="images/low-priority.png">
				      
              <br>
	      		
                <h3 class="white">
	      			    Ja
	      		     </h3>
	      		 
             <br>
             <br>

			     </div>
         </div>
    </a>
		
		 <a href="#/ivs">
        <div class="col-md-6 question">
          	<div class="purplebackground hoverborder">
          	
              <br>
              <br>
      		
                <img class="pngimage" src="images/high-priority.png">
      		    
              <br>
      		
                <h3 class="white">
            			Nej
            		</h3>
      		    
              <br>
              <br>

          </div>
        </div>
    </a>

       </div>
      
      <br>
      
     

      <br>
      <br>

      </div>
  </div>
</div>


<a href="#view1">
  <div class="topleftcorner hidden-xs">
    <ul class="list-inline">
      <li>
        <img src="images/left-arrow.svg">
      </li>
      <li>
        <p>Tilbage til start</p>
      </li>
    </ul>
  </div>
  </a>