<br>

<br>

<div class="container">
  <div class="row text-center">
      <div class="col-md-12">

      <br>

      <div class="col-md-6 col-md-offset-3 whitebackground">
          
          <br>

          <h3 class="black">
              I/S
          </h3>

          <br>

          <img class="topright" src="images/right-quote-sign-yellow.svg">
          <img class="topleft" src="images/right-quote-sign-yellow.svg">

      </div>
      <div class="col-md-6 col-md-offset-3 lightgreenbackground extrapadding">
          
          <br>

          <h3 class="marginbottom">
            Generel information
          </h3>
          <p class="justify">
            Et interessentskab er ligesom en enkeltmandsvirksomhed med 2 eller flere ejere. Selskabet ejer sine egne aktiver og forpligtelser og vil typisk være personligt ejet.
          </p>
          
          <br>

          <h3 class="marginbottom">
            Kapital
          </h3>
          <p class="justify">
            Der er ingen minimumskrav til et interessentskab. Selskabet kan derfor startes uden nogen form for kapitalindskud.
          </p>
          
          <br>

           <h3 class="marginbottom">
            Hæftelse
          </h3>
          <p class="justify">
            Et interessentskab er ligesom en enkeltmandsvirksomhed, hvilket betyder, at ejerne hæfter personligt med alt hvad de ejer. Alle virksomhedens forpligtelselser er derfor ligeledes ejernes forpligtelser. Ejerne hæfter solidarisk, hvilket vil sige, at hvis det ikke er muligt at inddrive gæld i selskabet, må kreditorerne selv bestemme hvilken ejer de vil inddrive gælden hos.
          </p>
          
          <br>

          <h3 class="marginbottom">
            Regnskab
          </h3>
          <p class="justify">
            Hvis interessentskabet er personligt ejet er der ikke krav på udarbejde en årsrapport og indsende den til erhvervs- og selskabsstyrelsen. Ved at gøre dette kan du dermed undgå omkostninger til en revisor og dit regnskab skal ikke offentliggøres. Du skal dog stadig bogføre efter bogføringsloven. Hvis dit interessentskab er 100% ejet af et selskab skal der udarbejdes og indsendes en årsrapport.
          </p>
          
          <br>

          <h3 class="marginbottom">
            Skat
          </h3>
          <p class="justify">
            Beskatningen i et interessentskab sker ikke gennem interessenskabet, men hos den enkelte ejer. Et eventuelt underskud i interessentskabet vil kunne overføres til den enkelte ejer og fratrækkes på selvangivelsen. Der er mulighed for at anvende virksomhedsskatteordningen og interessentskabet kan herigennem blive beskattet mere ligesom anpartsselskaber og aktieselskaber.
          </p>

          <br>
          
          <div class="vertical-list">
             <ul class="list-inline">
               <li class="margintop"><a href="http://www.facebook.com/sharer/sharer.php?u=http://kristofferandreasen.github.io/virksomhed/"><img src="images/facebook-logo.svg"></li></a>
               <li><a href="http://www.twitter.com/share?url=http://kristofferandreasen.github.io/virksomhed/"></li></a>
               <li><a class="custombutton3" href="http://www.grizzlydevelopment.dk/">Få en hjemmeside</li></a>
            </ul>
          </div>
         
          <br>

          <a href="#/view1">
            <ul class="list-inline">
              <li>
                <p>Start forfra</p>
              </li>
              <li>
                <img class="roll" src="images/recovery-arrow.svg">
              </li>
            </ul>
          </a>

          <br>

      </div>

      </div>
  </div>
</div>

<br>
<br>
<br>

<a href="#view1">
  <div class="topleftcorner hidden-xs">
    <ul class="list-inline">
      <li>
        <img src="images/left-arrow.svg">
      </li>
      <li>
        <p>Tilbage til start</p>
      </li>
    </ul>
  </div>
  </a>