<br>

<br>

<div class="container">
  <div class="row text-center">
      <div class="col-md-12">

      <br>

      <div class="col-md-6 col-md-offset-3 whitebackground">
          
          <br>

          <h3 class="black">
              IVS
          </h3>

          <br>

          <img class="topright" src="images/right-quote-sign-yellow.svg">
          <img class="topleft" src="images/right-quote-sign-yellow.svg">

      </div>
      <div class="col-md-6 col-md-offset-3 lightgreenbackground extrapadding">
          
          <br>

          <h3 class="marginbottom">
            Generel information
          </h3>
          <p class="justify">Et iværksætterselskab er det nemmeste og billigste selskab at starte. Det kræver blot 1 kr. i startkapital og er derfor blevet et populært valg blandt danskerne. Det er dog stadig et selskab og skal derfor betale selskabsskat.</p>
          
          <br>

          <h3 class="marginbottom">
            Kapital
          </h3>
          <p class="justify">Ved stiftelse af et iværksætterselskab (IVS) skal der være en selskabskapital på minimum 1 kr. Til gengæld er selskabet forpligtiget til at opspare mindst 25% af årets overskud indtil der er opsparet kr. 50.000 (svarende til minimumskapitalen for ApS).</p>
          
          <br>

           <h3 class="marginbottom">
            Hæftelse
          </h3>
          <p class="justify">Et iværksætterselskab er en selvstændig juridisk enhed og selskabet ejere er adskilt, således at din hæftelse som udgangspunkt er begrænset til den selskabskapitalen. Selskabets ledelse kan dog gøres ansvarlige hvis selskabets kapital er uforsvarligt i forhold til virksomhedens økonomiske forpligtigelser. Samtidig vil enhver bank stadig kræve personlig kaution, hvis du vil låne penge i et selskab med en lav selskabskapital.</p>
          
          <br>

          <h3 class="marginbottom">
            Regnskab
          </h3>
          <p class="justify">Iværksætterselskaber skal udarbejde en årsrapport og indsende denne til Erhvervs- og Selskabsstyrelse. Med et iværksætterselskab kan du fraskrive dig revisionsretten, hvilket betyder, at du ikke er påkrævet at have en revisor til at godkende regnskabet.</p>
          
          <br>

          <h3 class="marginbottom">
            Skat
          </h3>
          <p class="justify">Idet et iværksætterselskab er et selvstændigt skatteobjekt skal selskabet betale selskabsskat af sit overskud efter selskabsskatteloven. Et overskud kan herefter forblive i selskabet hvorved personlig beskatning undgås. 
Et underskud i et iværksætterselskab kan ikke trækkes fra på din personlige selvangivelse, som i tilfældet ved en enkeltmandsvirksomhed eller et interessentskab. Til gengæld kan underskuddet overføres til efterfølgende år hvor der måtte være overskud.</p>

          <br>
          
          <div class="vertical-list">
             <ul class="list-inline">
               <li class="margintop"><a href="http://www.facebook.com/sharer/sharer.php?u=http://kristofferandreasen.github.io/virksomhed/"><img src="images/facebook-logo.svg"></li></a>
               <li><a href="http://www.twitter.com/share?url=http://kristofferandreasen.github.io/virksomhed/"><img src="images/twitter-logo-button.svg"></li></a>
               <li><a class="custombutton3" href="http://www.grizzlydevelopment.dk/">Få en hjemmeside</li></a>
            </ul>
          </div>
         
          <br>

          <a href="#/view1">
            <ul class="list-inline">
              <li>
                <p>Start forfra</p>
              </li>
              <li>
                <img class="roll" src="images/recovery-arrow.svg">
              </li>
            </ul>
          </a>

          <br>

      </div>

      </div>
  </div>
</div>

<br>
<br>
<br>

<a href="#view1">
  <div class="topleftcorner hidden-xs">
    <ul class="list-inline">
      <li>
        <img src="images/left-arrow.svg">
      </li>
      <li>
        <p>Tilbage til start</p>
      </li>
    </ul>
  </div>
  </a>