 .topleftcorner{
   position:absolute;
   top: 20px;
   left: 20px;
  }
  .topleftcorner ul li img {
  	margin-top: 5px;
  }

  .topright {
  	position: absolute;
  	top: 20px;
  	right: 20px;
  }
  .topleft {
  	position: absolute;
  	top: 20px;
  	left: 20px;
  }