/*_typography.scss*/
body {
	color: $text-color;
	font-size: $base-font-size;
	font-family: $base-font-family;
	font-weight: $base-font-weight;
	line-height: $base-line-height;
}
h1, h2 {
	font-size: $headline-font-size;
	font-weight: $headline-font-weight;
	line-height: $headline-line-height;
}
h3 {
	font-size: $section-font-size;
	font-weight: $section-font-weight;
	line-height: $section-line-height;
}
h4 {
	font-size: $section-font-size;
	font-weight: $section-font-weight;
	line-height: $section-line-height;
	opacity: $lowopac;
}
p {
	color: $text-color;
	font-size: $base-font-size;
	font-weight: $base-font-weight;
	line-height: $base-line-height;
	opacity: $lowopac;
}
.thin {
	font-weight: $thin-font-weight;
}
.lowopac {
	opacity: $lowopac;
}
.white {
	color: $white-color;
}
.black {
	color: $black-color;
}

// Headline
.topheadline {
	color: $white-color;
	font-weight: $headline-font-weight;
	font-size: $top-headline-font-size;
	line-height: $headline-line-height;
	text-transform: uppercase;
}
@media screen and (max-width: 480px) {
    .topheadline {
        font-size: 3rem;
    }
}


.headline {
	color: $white-color;
	font-weight: $headline-font-weight;
	font-size: $headline-font-size;
	line-height: $headline-line-height;
}
.smallheadline {
	color: $white-color;
	font-weight: $smallheadline-font-weight;
	font-size: $smallheadline-font-size;
	line-height: $smallheadline-line-height;
}
.headlineblack {
	color: $black-color;
	font-weight: $headline-font-weight;
	font-size: $headline-font-size;
	line-height: $headline-line-height;
	text-transform: uppercase;
}

// Headline for sections
.sectionheadline {
	color: $black-color;
	font-weight: $section-font-weight;
	font-size: $section-font-size;
	line-height: $section-line-height;
}
@media screen and (max-width: 1200px) {
    .sectionheadline {
        margin-top: 5px;
    }
}
.smallsectionheadline {
	color: $section-grey-color;
	font-weight: $sectionsmall-font-weight;
	font-size: $sectionsmall-font-size;
	line-height: $sectionsmall-line-height;
	text-transform: uppercase;
}

// Subline
.subline {
	color: $white-color;
	font-weight: $subline-font-weight;
	font-size: 	 $subline-font-size;
	line-height: $subline-line-height;
	opacity: $subline-opacity;
}
.sublineblack {
	color: $black-color;
	font-weight: $subline-font-weight;
	font-size: 	 $subline-font-size;
	line-height: $subline-line-height;
}