.redbackground {
	background-color: $mat-red;
	border-radius: 15px;
}
.bluebackground {
	background-color: $blue-color;
	border-radius: 15px;
}
.purplebackground {
	background-color: $purple-color;
	border-radius: 15px;
}
.whitebackground {
	background-color: $white-color;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.lightgreybackground {
	background-color: $light-grey-color;
}
.darkgreenbackground {
	background-color: $dark-green-color;
}
.lightgreenbackground {
	background-color: $light-green-color;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}