/*
	Custom Buttons
*/

/* Custom Button 1 */
.custombutton1 {
	color: $button-color;
	text-transform: uppercase;
	font-size: $base-font-size;
	font-weight: $base-font-weight;
	border: 3px solid $button-color;
	border-radius: $button-border-radius;
	padding: $button-padding;
	display: inline-block;
	line-height: $button-line-height;
}
.custombutton1:hover {
	border-color: $button-hover-color2;
	color: $button-hover-color2;
	text-decoration: none;
}

/* Custom Button 2 */
.custombutton2 {
	color: $button-color2;
	text-transform: uppercase;
	font-size: $base-font-size;
	font-weight: $base-font-weight;
	border: 3px solid $button-color2;
	border-radius: $button-border-radius;
	padding: $button-padding2;
	display: inline-block;
	line-height: $button-line-height;
}
.custombutton2:hover {
	border-color: $button-hover-color2;
	color: $button-hover-color2;
	text-decoration: none;
}

/* Custom Button 3 */
.custombutton3 {
	color: $button-color;
	text-transform: uppercase;
	font-size: $base-font-size;
	font-weight: $base-font-weight;
	border: 2px solid $button-color;
	border-radius: $button-border-radius;
	padding: $button-padding2;
	display: inline-block;
	line-height: $button-line-height;
}
.custombutton3:hover {
	border-color: $button-hover-color2;
	color: $button-hover-color2;
	text-decoration: none;
}

/* Custom Button 4 */
.custombutton4 {
	background-color: $button-color2;
	color: $button-color2;
	font-size: $section-font-size;
	padding: 15px 0px;
	border-bottom: 1px solid $button-color2;
	margin-bottom: 20px;
	display: block;
	border-radius: 8px;
	text-decoration: none;
}
.custombutton4:hover {
	font-size: $section-font-size;
	background-color: $button-color2;
	border-color: $button-hover-color2;
	color: $button-hover-color2;
	text-decoration: none;
}


/* TAGS */
.tags {
	font-weight: 400;
	font-style: normal;
	color: rgba(0,0,0,.44);
	font-size: 13px;
	letter-spacing: 0;
	text-decoration: none;
	background: #fafafa;
	border-radius: 3px;
	border: 1px solid #f0f0f0;
	padding: 5px 10px;
	margin-top: 15px;
}
.tags:hover {
	color: rgba(0,0,0,.8);
	border-color: rgba(0,0,0,.15);
	background: #fff;
	text-decoration: none;
}
	