/* line 5, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*_variables.scss */
/* Body variables */
/* Text and fonts */
/* Custom Button 1 variables */
/* Custom Button 2 variables */
/* Div colors */
/* Images */
/*
	Custom Buttons
*/
/* Custom Button 1 */
/* line 6, sass/_partials/_buttons.scss */
.custombutton1 {
  color: #FFF;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  border: 3px solid #FFF;
  border-radius: 6px;
  padding: 15px 30px;
  display: inline-block;
  line-height: 1;
}

/* line 17, sass/_partials/_buttons.scss */
.custombutton1:hover {
  border-color: #FFDA44;
  color: #FFDA44;
  text-decoration: none;
}

/* Custom Button 2 */
/* line 24, sass/_partials/_buttons.scss */
.custombutton2 {
  color: #61e69d;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  border: 3px solid #61e69d;
  border-radius: 6px;
  padding: 10px 20px;
  display: inline-block;
  line-height: 1;
}

/* line 35, sass/_partials/_buttons.scss */
.custombutton2:hover {
  border-color: #FFDA44;
  color: #FFDA44;
  text-decoration: none;
}

/* Custom Button 3 */
/* line 42, sass/_partials/_buttons.scss */
.custombutton3 {
  color: #FFF;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  border: 2px solid #FFF;
  border-radius: 6px;
  padding: 10px 20px;
  display: inline-block;
  line-height: 1;
}

/* line 53, sass/_partials/_buttons.scss */
.custombutton3:hover {
  border-color: #FFDA44;
  color: #FFDA44;
  text-decoration: none;
}

/* Custom Button 4 */
/* line 60, sass/_partials/_buttons.scss */
.custombutton4 {
  background-color: #61e69d;
  color: #61e69d;
  font-size: 1.3rem;
  padding: 15px 0px;
  border-bottom: 1px solid #61e69d;
  margin-bottom: 20px;
  display: block;
  border-radius: 8px;
  text-decoration: none;
}

/* line 71, sass/_partials/_buttons.scss */
.custombutton4:hover {
  font-size: 1.3rem;
  background-color: #61e69d;
  border-color: #FFDA44;
  color: #FFDA44;
  text-decoration: none;
}

/* TAGS */
/* line 81, sass/_partials/_buttons.scss */
.tags {
  font-weight: 400;
  font-style: normal;
  color: rgba(0, 0, 0, 0.44);
  font-size: 13px;
  letter-spacing: 0;
  text-decoration: none;
  background: #fafafa;
  border-radius: 3px;
  border: 1px solid #f0f0f0;
  padding: 5px 10px;
  margin-top: 15px;
}

/* line 94, sass/_partials/_buttons.scss */
.tags:hover {
  color: rgba(0, 0, 0, 0.8);
  border-color: rgba(0, 0, 0, 0.15);
  background: #fff;
  text-decoration: none;
}

/* line 1, sass/_partials/_backgrounds.scss */
.redbackground {
  background-color: #F25F66;
  border-radius: 15px;
}

/* line 5, sass/_partials/_backgrounds.scss */
.bluebackground {
  background-color: #3887BE;
  border-radius: 15px;
}

/* line 9, sass/_partials/_backgrounds.scss */
.purplebackground {
  background-color: #5E6B9B;
  border-radius: 15px;
}

/* line 13, sass/_partials/_backgrounds.scss */
.whitebackground {
  background-color: #FFFFFF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* line 18, sass/_partials/_backgrounds.scss */
.lightgreybackground {
  background-color: #FAFAFA;
}

/* line 21, sass/_partials/_backgrounds.scss */
.darkgreenbackground {
  background-color: #006301;
}

/* line 24, sass/_partials/_backgrounds.scss */
.lightgreenbackground {
  background-color: #5FCF80;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* line 1, sass/_partials/_topcorner.scss */
.topleftcorner {
  position: absolute;
  top: 20px;
  left: 20px;
}

/* line 6, sass/_partials/_topcorner.scss */
.topleftcorner ul li img {
  margin-top: 5px;
}

/* line 10, sass/_partials/_topcorner.scss */
.topright {
  position: absolute;
  top: 20px;
  right: 20px;
}

/* line 15, sass/_partials/_topcorner.scss */
.topleft {
  position: absolute;
  top: 20px;
  left: 20px;
}

/* line 2, sass/_partials/_animations.scss */
.floater {
  animation-name: floater;
  -webkit-animation-name: floater;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  visibility: visible !important;
}

@keyframes floater {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(8%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes floater {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(8%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
/* line 39, sass/_partials/_animations.scss */
.roll:hover {
  animation-name: barrelRoll;
  -webkit-animation-name: barrelRoll;
  animation-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  visibility: visible !important;
}

@keyframes barrelRoll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes barrelRoll {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
/* line 66, sass/_partials/_animations.scss */
.spinner:hover {
  animation-name: spinner;
  -webkit-animation-name: spinner;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  visibility: visible !important;
}

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 120, sass/_partials/_animations.scss */
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/* line 129, sass/_partials/_animations.scss */
.simplehover:hover {
  position: relative;
  right: 10px;
}

/* line 133, sass/_partials/_animations.scss */
.hoverborder:hover {
  border: 3px solid #FAFAFA;
}

/*_typography.scss*/
/* line 2, sass/_partials/_typography.scss */
body {
  color: #FFF;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

/* line 9, sass/_partials/_typography.scss */
h1, h2 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.4;
}

/* line 14, sass/_partials/_typography.scss */
h3 {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.3;
}

/* line 19, sass/_partials/_typography.scss */
h4 {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.3;
  opacity: 0.85;
}

/* line 25, sass/_partials/_typography.scss */
p {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.85;
}

/* line 32, sass/_partials/_typography.scss */
.thin {
  font-weight: 300;
}

/* line 35, sass/_partials/_typography.scss */
.lowopac {
  opacity: 0.85;
}

/* line 38, sass/_partials/_typography.scss */
.white {
  color: #FFFFFF;
}

/* line 41, sass/_partials/_typography.scss */
.black {
  color: #000;
}

/* line 46, sass/_partials/_typography.scss */
.topheadline {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.4;
  text-transform: uppercase;
}

@media screen and (max-width: 480px) {
  /* line 54, sass/_partials/_typography.scss */
  .topheadline {
    font-size: 3rem;
  }
}
/* line 60, sass/_partials/_typography.scss */
.headline {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 1.4;
}

/* line 66, sass/_partials/_typography.scss */
.smallheadline {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.3;
}

/* line 72, sass/_partials/_typography.scss */
.headlineblack {
  color: #000;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 1.4;
  text-transform: uppercase;
}

/* line 81, sass/_partials/_typography.scss */
.sectionheadline {
  color: #000;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.3;
}

@media screen and (max-width: 1200px) {
  /* line 88, sass/_partials/_typography.scss */
  .sectionheadline {
    margin-top: 5px;
  }
}
/* line 92, sass/_partials/_typography.scss */
.smallsectionheadline {
  color: #999;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.3;
  text-transform: uppercase;
}

/* line 101, sass/_partials/_typography.scss */
.subline {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.2;
  opacity: 0.5;
}

/* line 108, sass/_partials/_typography.scss */
.sublineblack {
  color: #000;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.2;
}

/*------------------------------------*\
    PRINT
\*------------------------------------*/
@media print {
  /* line 6, sass/_partials/_print.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 12, sass/_partials/_print.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 16, sass/_partials/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 19, sass/_partials/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 22, sass/_partials/_print.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 27, sass/_partials/_print.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 31, sass/_partials/_print.scss */
  thead {
    display: table-header-group;
  }

  /* line 34, sass/_partials/_print.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 37, sass/_partials/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  /* line 43, sass/_partials/_print.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 49, sass/_partials/_print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
@media screen and (min-width: 1600px) {
  /* line 4, sass/_partials/_mediaqueries.scss */
  .xlsection {
    height: 100px;
  }
}
@media screen and (max-width: 500px) {
  /* line 11, sass/_partials/_mediaqueries.scss */
  .smallerfont {
    font-size: 1.3rem;
  }
}
/* line 16, sass/style.scss */
body {
  overflow-x: hidden;
  background: #FFf;
  -webkit-font-smoothing: antialiased;
}

/* line 21, sass/style.scss */
body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

/* line 28, sass/style.scss */
a:hover {
  text-decoration: none;
}

/* line 31, sass/style.scss */
li {
  vertical-align: bottom;
}

/* line 36, sass/style.scss */
.nopadding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* line 40, sass/style.scss */
.noleftpadding {
  padding-left: 0 !important;
}

@media screen and (max-width: 1000px) {
  /* line 44, sass/style.scss */
  .noleftpadding {
    padding-left: 15px !important;
  }
}
/* line 49, sass/style.scss */
.littlepadding {
  padding: 2rem;
}

/* line 52, sass/style.scss */
.smallpadding {
  padding: 10px 0 10px 0;
}

/* line 55, sass/style.scss */
.bottompadding {
  padding-bottom: 20px;
}

/* line 58, sass/style.scss */
.rightpadding {
  padding-right: 15px;
}

/* line 61, sass/style.scss */
.extrapadding {
  padding-right: 30px !important;
  padding-left: 30px !important;
}

/* line 67, sass/style.scss */
.margintop {
  margin-top: 3px;
}

/* line 70, sass/style.scss */
.marginbottom {
  margin-bottom: 8px;
}

/* line 74, sass/style.scss */
.align-left {
  text-align: left !important;
}

/* line 79, sass/style.scss */
.bottomborder {
  border-bottom: 1px solid #e9eaec;
}

/* line 82, sass/style.scss */
.leftborder {
  border-left: 1px solid #e9eaec;
}

/* line 86, sass/style.scss */
a:focus {
  text-decoration: none !important;
}

/* line 91, sass/style.scss */
.justify {
  text-align: justify !important;
}

/* Bottom navbar fixed and centered */
/* line 96, sass/style.scss */
.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

/* line 101, sass/style.scss */
.navbar .navbar-center {
  text-align: center;
}

/* Heart image */
/* line 106, sass/style.scss */
.navbar-nav img {
  max-height: 15px;
  margin-top: 3px;
}

/* App background */
/* line 112, sass/style.scss */
.app-background {
  background: url(images/city.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/* line 119, sass/style.scss */
.purplestart {
  background-color: #5E6B9B;
}

/* line 122, sass/style.scss */
.grey-background {
  background: url(images/grey.jpg) no-repeat center center fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/* line 129, sass/style.scss */
.question {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 133, sass/style.scss */
.pngimage {
  max-height: 48px;
}
