<br>

<br>

<div class="container">
  <div class="row text-center">
      <div class="col-md-12">
      <h3 class="white">
        Du skal starte et anpartsselskab!
      </h3>

      <br>

      <div class="col-md-4 col-md-offset-4 whitebackground">
          
          <br>

          <h3 class="black">
              ApS
          </h3>

          <br>

          <img class="topright" src="images/right-quote-sign-yellow.svg">
          <img class="topleft" src="images/right-quote-sign-yellow.svg">

      </div>
      <div class="col-md-4 col-md-offset-4 lightgreenbackground">
          
          <br>

          <h3 class="marginbottom">
            Et populært valg
          </h3>

          <p class="justify">Et anpartsselskab er et kapitalselskab, hvor ejerne kun hæfter med den indskudte anpart. Selskabet skal revideres af en registreret eller statsautoriseret revisor, medmindre betingelserne er tilstede for fravalg af revision. Det er et populært selskabsvalg i Danmark.</p>
            
          <br>
          
             <ul class="list-inline">
               <li><a href=""><img src="images/facebook-logo.svg"></li></a>
               <li><a href=""><img src="images/twitter-logo-button.svg"></li></a>
               <li><a class="custombutton3" href="#/apsinfo">Lær mere om ApS</li></a>
            </ul>
          
          <br>
            
          <a href="#/view1">
           <ul class="list-inline">
               <li><p>Start forfra</p></li>
               <li><img class="roll" src="images/recovery-arrow.svg"></li>
            </ul>
          </a>

          <br>

         </div>
          
          
          

          <br>

      </div>

      </div>
  </div>
</div>

<br>
<br>
<br>

<a href="#view1">
  <div class="topleftcorner hidden-xs">
    <ul class="list-inline">
      <li>
        <img src="images/left-arrow.svg">
      </li>
      <li>
        <p>Tilbage til start</p>
      </li>
    </ul>
  </div>
  </a>