<br>

<br>

<div class="container">
  <div class="row text-center">
      <div class="col-md-12">

      <br>

      <div class="col-md-6 col-md-offset-3 whitebackground">
          
          <br>

          <h3 class="black">
              ApS
          </h3>

          <br>

          <img class="topright" src="images/right-quote-sign-yellow.svg">
          <img class="topleft" src="images/right-quote-sign-yellow.svg">

      </div>
      <div class="col-md-6 col-md-offset-3 lightgreenbackground extrapadding">
          
          <br>

          <h3 class="marginbottom">
            Generel information
          </h3>
        <p class="justify">
            Et anpartsselskab er en populær selskabsform i Danmark og er en selvstændig juridisk enhed. Ved stiftelse skal der laves stiftelsesdokumenter og vedtægter. Hvis kapitalen ikke er i form af kontanter, skal der laves en vurderingsberetning. Ved stiftelse er der til forskel fra IVS behov for minimumskapital.
        </p>

          <br>

          <h3 class="marginbottom">
            Kapital
          </h3>
          <p class="justify">
            Når man stifter et anpartsselskab skal der være minimum 50.000 kr. i kapital. Dette kan være både i form af kontanter eller andre værdier.
          </p>

          <br>

          <h3 class="marginbottom">
            Hæftelse
          </h3>
          <p class="justify">
            I et anpartsselskab hæfter du ikke perosnligt, som du gør i en enkeltmandsvirksomhed. Her er din hæftelse begrænset til den indskudte selskabskapital. Du kan dog optage lån for din virksomhed med personlig hæftelse.
          </p>

           <br>

           <h3 class="marginbottom">
            Regnskab
          </h3>
          <p class="justify">
            Anpartsselskaber skal udarbejde en årsrapport og indsende den til erhvervs- og selskabsstyrelsen. Din årsrapport skal som udgangspunkt godkendes af en statsautoriseret revisor eller registreret revisor. Du har dog i særlige tilfælde mulighed for at fravælge revisionpligt. For at gøre dette gælder der en række regler, som du kan læse mere om <a href="https://erhvervsstyrelsen.dk/fravalg-af-revision">her</a>.
          </p>

           <br>

           <h3 class="marginbottom">
            Skat
          </h3>
          <p class="justify">
            Efter skatteloven skal et anpartsselskab betale selskabsskat af sit overskud. Et overskud kan efter selskabsskat blive i selskabet, så der undgås personlig beskatning. Et eventuelt underskud vil kunne overføres til næste år, hvor det vil kunne trækkes fra et overskud. Du kan dog ikke trække underskuddet fra din personlige skat, som det kan gøres med en enkeltmandsvirksomhed eller et interessentskab.
          </p>

          <br>
          
          <div class="vertical-list">
             <ul class="list-inline">
               <li class="margintop"><a href=""><img src="images/facebook-logo.svg"></li></a>
               <li><a href=""><img src="images/twitter-logo-button.svg"></li></a>
               <li><a class="custombutton3" href="http://www.grizzlydevelopment.dk/">Få en hjemmeside</li></a>
            </ul>
          </div>
         
          <br>

          <a href="#/view1">
            <ul class="list-inline">
              <li>
                <p>Start forfra</p>
              </li>
              <li>
                <img class="roll" src="images/recovery-arrow.svg">
              </li>
            </ul>
          </a>

          <br>

      </div>

      </div>
  </div>
</div>

<br>
<br>
<br>

<a href="#view1">
  <div class="topleftcorner hidden-xs">
    <ul class="list-inline">
      <li>
        <img class="roll" src="images/left-arrow.svg">
      </li>
      <li>
        <p>Tilbage til start</p>
      </li>
    </ul>
  </div>
  </a>