<br>

<br>

<div class="container">
  <div class="row text-center">
      <div class="col-md-12">

      <br>

      <div class="col-md-6 col-md-offset-3 whitebackground">
          
          <br>

          <h3 class="black">
              A/S
          </h3>

          <br>

          <img class="topright" src="images/right-quote-sign-yellow.svg">
          <img class="topleft" src="images/right-quote-sign-yellow.svg">

      </div>
      <div class="col-md-6 col-md-offset-3 lightgreenbackground extrapadding">
          
          <br>

          <h3 class="marginbottom">
            Generel information
          </h3>
          <p class="justify">
            Et aktieselskab er det dyreste selskab at starte og er en særskilt juridisk enhed. Det reguleres af selskabsloven og du hæfter ikke personligt.
          </p>
          
          <br>

          <h3 class="marginbottom">
            Kapital
          </h3>
          <p class="justify">
            Når du starter et aktieselskab, skal der skydes mindst 500.000 kr. ind i selskabet. Dette kan være i form af kontanter eller andre værdier.
          </p>
          
          <br>

           <h3 class="marginbottom">
            Hæftelse
          </h3>
          <p class="justify">
            Som ejer af et aktieselskab hæfter du ikke personligt for virksomhedens forpligtelser. Din hæftelse er som udgangspunkt begrænset til din indskudte kapital. Der er ligeosm ved andre selskabsformer mulighed for at optage banklån og du kan komme til at hæfte personligt for disse.
          </p>
          
          <br>

          <h3 class="marginbottom">
            Regnskab
          </h3>
          <p class="justify">
            Årsrapporten skal udarbejdes og sendes ind til erhvervs- og selskabsstyrelsen. Denne rapport vil senere blive offentliggjort. Ligesom med et anpartsselskab skal årsrapporten revideres af en statsautoriseret revisor eller en registreret revisor. I nogle specifikke tilfælde kan revisionspligten fravælges, hvis man ikke overstiger en række grænser. Du kan læse mere omkring disse grænser <a href="https://erhvervsstyrelsen.dk/fravalg-af-revision">her</a>.
          </p>
          
          <br>

          <h3 class="marginbottom">
            Skat
          </h3>
          <p class="justify">
            Et aktieselskab skal betale selskabsskat af overkskuddet efter selskabsloven. Overskuddet kan blive i selskabet, hvor der herved kan undgås personlig beskatning. Et eventuelt underskud vil ikke kunne trækkes fra din personlige indkomst. Underskud i virksomheden vil derimod kunne overføres til efterfølgende år.
          </p>

          <br>
          
          <div class="vertical-list">
             <ul class="list-inline">
               <li class="margintop"><a href=""><img src="images/facebook-logo.svg"></li></a>
               <li><a href=""><img src="images/twitter-logo-button.svg"></li></a>
               <li><a class="custombutton3" href="http://www.grizzlydevelopment.dk/">Få en hjemmeside</li></a>
            </ul>
          </div>
         
          <br>

          <a href="#/view1">
            <ul class="list-inline">
              <li>
                <p>Start forfra</p>
              </li>
              <li>
                <img class="roll" src="images/recovery-arrow.svg">
              </li>
            </ul>
          </a>

          <br>

      </div>

      </div>
  </div>
</div>

<br>
<br>
<br>

<a href="#view1">
  <div class="topleftcorner hidden-xs">
    <ul class="list-inline">
      <li>
        <img class="roll" src="images/left-arrow.svg">
      </li>
      <li>
        <p>Tilbage til start</p>
      </li>
    </ul>
  </div>
  </a>