<br>

<div class="container">
  <div class="row text-center">
      <div class="col-md-12">
          <ul class="list-inline">
            <li><a href=""><img src="images/facebook-logo.svg"></li></a>
            <li><a href=""><img src="images/twitter-logo-button.svg"></li></a>
          </ul>
      </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row text-center">
      <div class="col-md-12">
      <h1 class="white smallheadline">
        Hvor mange skal I være i virksomheden?
      </h1>

      <br>

      <div class="row text-center">

       <a href="#/risiko3">
        <div class="col-md-6 question">
            <div class="redbackground hoverborder">
            
              <br>
              <br>
          
                <img src="images/person.svg">
              
              <br>
          
                <h3 class="white">
                  Kun 1 ejer
                </h3>
              
              <br>
              <br>

          </div>
        </div>
    </a>

    <a href="#/risiko3">
        <div class="col-md-6 question">
            <div class="bluebackground hoverborder">
            
              <br>
              <br>
          
                <img src="images/chair.svg">
              
              <br>
          
                <h3 class="white">
                  2 eller flere
                </h3>
              
              <br>
              <br>

          </div>
        </div>
    </a>

    </div>
      
      <br>
      
     

      <br>
      <br>


        <div class="row text-center">
            <div class="col-md-12">

      
         </div>
        </div>


      </div>
  </div>
</div>

<a href="#view1">
  <div class="topleftcorner hidden-xs">
    <ul class="list-inline">
      <li>
        <img src="images/left-arrow.svg">
      </li>
      <li>
        <p>Tilbage til start</p>
      </li>
    </ul>
  </div>
  </a>