<br>

<br>

<div class="container">
  <div class="row text-center">
      <div class="col-md-12">

      <br>

      <div class="col-md-6 col-md-offset-3 whitebackground">
          
          <br>

          <h3 class="black">
              Enkeltmandsvirksomhed
          </h3>

          <br>

          <img class="topright hidden-xs" src="images/right-quote-sign-yellow.svg">
          <img class="topleft hidden-xs" src="images/right-quote-sign-yellow.svg">

      </div>
      <div class="col-md-6 col-md-offset-3 lightgreenbackground extrapadding">
          
          <br>

          <h3 class="marginbottom">
            Generel information
          </h3>
          <p class="justify">En enkeltmandsvirksomhed er den letteste virksomhed at starte i Danmark. Det krævre blot, at du går ind på <a href="https://indberet.virk.dk/">virk</a> og klikker på start virksomhed. Herefter indtaster du dine oplysninger og derefter ejer du din virksomhed. Du modtager dit CVR-nummer lige efter dette.</p>
          
          <br>

          <h3 class="marginbottom">
            Kapital
          </h3>
          <p class="justify">Der er ikke noget officielt krav til minimumskapital, når du starter en enkeltmandsvirksomhed. Du kan derfor oprette din virksomhed uden nogen form for indskud. </p>
          
          <br>

           <h3 class="marginbottom">
            Hæftelse
          </h3>
          <p class="justify">En af de grundlæggende ting i en enkeltmandsvirksomhed er, at ejer og virksomhed ikke er adskilt. Du hæfter derfor personligt i for virksomhedens forpligtelser med alt hvad du ejer.</p>
          
          <br>

          <h3 class="marginbottom">
            Regnskab
          </h3>
          <p class="justify">Et enkeltmands selskab er ikke forpligtet til at indsende en årsrapport. På grund af dette kan du derfor undgå at offentliggøre økonomien i virksomheden. Du skal dog stadig lave bogføre.</p>
          
          <br>

          <h3 class="marginbottom">
            Skat
          </h3>
          <p class="justify">I en enkeltmandsvirksomhed beskattes du som udgangspunkt ligesom personlig indkomst. Ved et eventuelt underskud kan du fratrække underskuddet i din anden personlige indkomst. Selvom enkeltmandsvirksomheder som udgangspunkt beskattes ligesom personlig indkomst, har ud mulighed for at blive underlagt virksomhedsskatteordningen er derfor blive underlagt beskatning ligesom andre virksomhedsformer.</p>

          <br>
          
          <div class="vertical-list">
             <ul class="list-inline">
               <li class="margintop"><a href=""><img src="images/facebook-logo.svg"></li></a>
               <li><a href=""><img src="images/twitter-logo-button.svg"></li></a>
               <li><a class="custombutton3" href="http://www.grizzlydevelopment.dk/">Få en hjemmeside</li></a>
            </ul>
          </div>
         
          <br>

          <a href="#/view1">
            <ul class="list-inline">
              <li>
                <p>Start forfra</p>
              </li>
              <li>
                <img class="roll" src="images/recovery-arrow.svg">
              </li>
            </ul>
          </a>

          <br>

      </div>

      </div>
  </div>
</div>

<br>
<br>
<br>

<a href="#view1">
  <div class="topleftcorner hidden-xs">
    <ul class="list-inline">
      <li>
        <img src="images/left-arrow.svg">
      </li>
      <li>
        <p>Tilbage til start</p>
      </li>
    </ul>
  </div>
  </a>