<br>

<div class="container">
  <div class="row text-center">
      <div class="col-md-12">
          <ul class="list-inline">
            <li><a href=""><img src="images/facebook-logo.svg"></li></a>
            <li><a href=""><img src="images/twitter-logo-button.svg"></li></a>
          </ul>
      </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row text-center">
      <div class="col-md-12">
      <h1 class="white smallheadline">
        Hvor stor erfaring har du med iværksætteri?
      </h1>

      <br>

    <div class="row text-center">
         
    <a href="#/kapital3">
         <div class="col-md-4 question">
			     <div class="redbackground hoverborder">
				
              <br>
              <br>

				        <img src="images/lightbulb.svg">
				      
              <br>
	      		
                <h3 class="white">
	      			    Meget lidt
	      		     </h3>
	      		 
             <br>
             <br>

			     </div>
         </div>
    </a>
			
		<a href="#/kapital">
          <div class="col-md-4 question">
          	<div class="bluebackground hoverborder">
			         
               <br>
               <br>
      		        
                  <img src="images/goal.svg">
      		      
                <br>
      		
                    <h3 class="white">
                			Et par års erfaring
                		</h3>
      		      
                <br>
                <br>

            </div>
          </div>
      </a>
		
		 <a href="#/kapital2">
        <div class="col-md-4 question">
          	<div class="purplebackground hoverborder">
          	
              <br>
              <br>
      		
                <img src="images/strategy.svg">
      		    
              <br>
      		
                <h3 class="white">
            			Meget erfaring
            		</h3>
      		    
              <br>
              <br>

          </div>
        </div>
    </a>

       </div>
      
      <br>
      
     

      <br>
      <br>

      </div>
  </div>
</div>


<a href="" onclick="javascript:history.go(-1);return false;">
  <div class="topleftcorner hidden-xs">
    <ul class="list-inline">
      <li>
        <img src="images/left-arrow.svg">
      </li>
      <li>
        <p>Tilbage til start</p>
      </li>
    </ul>
  </div>
  </a>