<br>

<div class="container">
  <div class="row text-center">
      <div class="col-md-12">
          <ul class="list-inline">
            <li><a href=""><img src="images/facebook-logo.svg"></li></a>
            <li><a href=""><img src="images/twitter-logo-button.svg"></li></a>
          </ul>
      </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row text-center">
      <div class="col-md-12">
      <h1 class="white smallheadline">
        Hvad er din kapital?
      </h1>

      <br>

      <div class="row text-center">

       <a href="#/omsaetning">
        <div class="col-md-4 question">
            <div class="redbackground hoverborder">
            
              <br>
              <br>
          
                <img src="images/piggybank.svg">
              
              <br>
          
                <h3 class="white">
                  Under 10.000 kr.
                </h3>
              
              <br>
              <br>

          </div>
        </div>
    </a>

    <a href="#/ejere4">
        <div class="col-md-4 question">
            <div class="bluebackground hoverborder">
            
              <br>
              <br>
          
                <img src="images/wallet.svg">
              
              <br>
          
                <h3 class="white">
                  10.000 - 50.000 kr.
                </h3>
              
              <br>
              <br>

          </div>
        </div>
    </a>

    <a href="#/ejere4">
        <div class="col-md-4 question">
            <div class="purplebackground hoverborder">
            
              <br>
              <br>
          
                <img src="images/money.svg">
              
              <br>
          
                <h3 class="white">
                  Over 50.000 kr.
                </h3>
              
              <br>
              <br>

          </div>
        </div>
    </a>

    </div>
      
      <br>
      
     

      <br>
      <br>


        <div class="row text-center">
            <div class="col-md-12">

      
         </div>
        </div>


      </div>
  </div>
</div>

<a href="#view1">
  <div class="topleftcorner hidden-xs">
    <ul class="list-inline">
      <li>
        <img src="images/left-arrow.svg">
      </li>
      <li>
        <p>Tilbage til start</p>
      </li>
    </ul>
  </div>
  </a>