

<br>

<div class="container" ng-controller="View1Ctrl">
  <div class="row text-center">
      <div class="col-md-12">
          <ul class="list-inline">
            <li><a href="http://www.facebook.com/sharer/sharer.php?u=www.hotdogcyklen.dk"><img src="images/facebook-logo.svg"></li></a>
            <li><a href="http://www.twitter.com/share?url=http://www.google.com/"><img src="images/twitter-logo-button.svg"></li></a>
          </ul>
      </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row text-center">
      <div class="col-md-12">
      <h1 class="white">
        Hvilken virksomhed skal jeg starte?
      </h1>

      <br>
      
      <div class="col-md-6 col-md-offset-3">
        <h4>Lær mere om de danske virksomhedstyper og se hvilken variant du bør vælge.</h4>

        <br>

      </div>
      
      <br>
      <br>
      
      <div class="col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1">
        <a class="custombutton4 white" href="#/erfaring">Start her</a>
      </div>

      <br>
      <br>


      <div class="row text-center">
            <div class="col-md-12">

              <br>
          <br>

          <ul class="list-inline">
            <li class="marginbottom">
              <a class="tags" href="#/ivsinfo">IVS</a>
            </li>
            <li class="marginbottom">
              <a class="tags" href="#/apsinfo">ApS</a>
            </li>
            <li class="marginbottom">
              <a class="tags" href="#/enkeltmandinfo">Enkeltmandsvirksomhed</a>
            </li>
            <li class="marginbottom">
              <a class="tags" href="#/isinfo">I/S</a>
            </li>
            <li class="marginbottom">
              <a class="tags" href="#/asinfo">A/S</a>
            </li>
          </ul>

          <br>

          <a class="custombutton1 white" href="#/info">Info om siden</a>

         </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>

      </div>
  </div>
</div>